
.priority {
    display: flex;
    flex-direction: column;
    label {
        margin-bottom: .5rem;
    }
}

select {
    padding: .5rem;
    border: none;

    &:hover {
        cursor: pointer;
    }

    &.Low {
        background-color: lighten(yellow, 35%);
    }

    &.Medium {
        background-color: lighten(orange, 35%);
    }

    &.High {
        background-color: lighten(red, 35%);
    }

    option {
        background-color: white;
    }
}